.table {
  margin: 0 auto;
  min-width: 600px;
  border: 1px solid;
  border-collapse: collapse;
  margin-top: 30px;
}

th,
td {
  border: 1px solid;
}

.tableTitle {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.tr {
  text-align: left;
}

th,
td {
  padding: 5px 10px;
}

.icon {
  width: 36px;
  height: 36px;
  color: red;
  cursor: pointer;
}
