tr,
th,
td {
  padding: 5px;
  border: 1px solid black;
}
table {
  border-collapse: collapse;
  width: 750px;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
.icon {
  cursor: pointer;
}
